<% ic = Array.new %>
<% ps = Array.new %>
<% @most_viewed_poem = [] %>

<% @poems.each do |poem| %>
  <% if poem.impressionist_count > 0 %>
    <% j = ic.push(poem.impressionist_count) %>
    <% p = ps.push(poem) %>
    <% @ic_max_index = j.index(j.max) %>
    <% @most_viewed_poem = p[@ic_max_index]%>
  <% end %>
<% end %>

<br>
<% if @most_viewed_poem != [] %>
  <h4><%= @user.name %>'s most viewed poem is..</h4>
    <p><strong>User</strong><br>
    <%= link_to @most_viewed_poem.user.name, @most_viewed_poem.user %></p>
    <p><strong>Title</strong><br>
    <%= link_to @most_viewed_poem.title, user_poem_path(@most_viewed_poem.user, @most_viewed_poem) %></p>
    <p><strong>Language</strong><br>
    <%= link_to @most_viewed_poem.language, poems_wall_path(:language => @most_viewed_poem.language) %></p>
    <p><strong>Views</strong><br>
    <%= @most_viewed_poem.impressionist_count(:filter=>:ip_address) %></p>
    <p><strong>Likes</strong><br>
    <%= @most_viewed_poem.likes.size %></p>
    <p><strong>Content</strong><br>
    <%= @most_viewed_poem.content %></p>
    <% if @most_viewed_poem.tag_list != [] %>
      <p><strong>Tags:</strong>  
      <% @most_viewed_poem.tag_list.each do |tag| %>
      <%= link_to tag, poems_wall_path(:tag => tag) %>
      <% end %>
      </p>
    <% end %>
<% end %>