<div style="min-height: 400px;"><h1><%= @user.name %>'s Poems</h1>





<table class="table">
  <tr>
    <th>Title</th>
    <th>Language</th>
    <th>User</th>
    <th>Active</th>
    <th></th>
  </tr>





<% @poems.each do |poem| %>

  <tr>
    <td><%= link_to poem.title, user_poem_path(poem.user, poem) %></td>
    <td><%= poem.language %></td>
    <td><%= poem.user.name %></td>
    <td><%= poem.active %></td>
    <td><%= link_to 'Delete', user_poem_path(poem.user, poem), method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>

<% end %>
</table>
<br />

<%= link_to 'New Poem', new_user_poem_path %>
<br />
</div>


<!--THIS WILL SHOW THE MOST VIEWED POEM-->
<% ic = Array.new %>
<% ps = Array.new %>
<% @most_viewed_poem = [] %>

<% @poems.each do |poem| %>
  <% if poem.impressionist_count > 0 %>
    <% j = ic.push(poem.impressionist_count) %>
    <% p = ps.push(poem) %>
    <% @ic_max_index = j.index(j.max) %>
    <% @most_viewed_poem = p[@ic_max_index]%>
  <% end %>
<% end %>

<% if @most_viewed_poem != [] %>
  <h4><%= @user.name %>'s most viewed poem is..</h4>
  <p><strong>User</strong><br>
  <%= @most_viewed_poem.user.name %></p>
  <p><strong>Title</strong><br>
  <%= @most_viewed_poem.title %></p>
  <p><strong>Views</strong><br>
  <%= @most_viewed_poem.impressionist_count(:filter=>:ip_address) %></p>
  <p><strong>Content</strong><br>
  <%= @most_viewed_poem.content %></p>
<% end %>
<!---->



