<p id="notice"><%= notice %></p>

<h1><center><%= @poem.title %><center></h1>
<p style="text-align: center"><small>by <%= link_to @poem.user.name, user_path(@poem.user) %></small></p>
<hr>

  <pre>
    <code data-language="<%= @poem.language %>" class="poem">
      <%= @poem.content %>
    </code>
  </pre>

<hr>
<p style="text-align: center"><%= @poem.language %></p>



<% if user_signed_in? %>
  <% if current_user == @user %>
    <%= link_to 'Edit', edit_user_poem_path(@poem.user, @poem) %>
  <% end %>
<% end %>
