<h1><center><%= @poem.title %><center></h1>
<p style="text-align: center"><small>by <%= link_to @poem.user.name, user_path(@poem.user) %></small></p>
<p style="text-align: center"><%= link_to @poem.language, poems_wall_path(:language => @poem.language), :class => 'btn' %>
<% if user_signed_in? %>
  <% if current_user == @user %>
    <%= link_to 'Edit', edit_user_poem_path(@poem.user, @poem), :class => 'btn' %>
  <% end %>
<% end %></p>
<hr>

<pre>
<code data-language="<%= @poem.language %>" class="poem">
<%= @poem.content %>
</code>
</pre>
<p>View count: <%= @poem.impressionist_count(:filter=>:ip_address) %></p>
<% if @poem.impressions.count >= 1 %>
<p>Last viewed on <%= @poem.impressions.last.updated_at.strftime("%e %b %Y") %> by <%= @last_user.name %></p>
<% end %>

<% @poem.tag_list.each do |tag| %>
  <%= link_to tag, poems_wall_path(:tag => tag), :class => 'btn' %>
<% end %>
<hr>

<% if user_signed_in? && !current_user.liked?(@poem) %>
<%= link_to 'Like', upvote_user_poem_path(@poem.user, @poem), :method => :post, :class => 'btn' %><br>
<% else %>
<%= link_to 'Unlike', downvote_user_poem_path(@poem.user, @poem), :method => :post, :class => 'btn' %><br>
<% end %>
Likes: <%= @poem.likes.size %>