<div class="container-narrow">
    <h2><i class="icon-cog"></i> Profile &amp; Account</h2>
  <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :class => 'form-vertical' }) do |f| %>
    <%= f.error_notification %>
    <%= display_base_errors resource %>

  <% if f.object.encrypted_password.present? %>
    <div class="field"><%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password %>
  <% end %>

    <%= f.input :name, :autofocus => true %>
    <%= f.input :email, :required => true %>
    <%= f.input :about, :input_html => { :class => 'fit-width', :rows => '8' } %>
    <%= f.file_field :picture %>
    <%= f.input :location %>
    <%= f.input :facebook %>
    <%= f.input :twitter %>
    <%= f.input :website %>
    <%= f.input :password, :autocomplete => "off", :label => "New password", :required => false %>
    <%= f.input :password_confirmation, :label => "New password confirmation", :required => false %>
    <%= f.button :submit, 'Update', :class => 'btn-primary' %>
  <% end %>
  <h3>Cancel my account</h3>

  <%= link_to "Back", :back %>
</div>


