<p id="notice"><%= notice %></p>

<p>
  <td>Content:</td>
  <%= @comment.content %>
</p>

<p>
  <td>User:</td>
  <%= @comment.user %>
</p>


<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
