<% ls = Array.new %>
<% pls = Array.new %>
<% @most_popular_poem = [] %>

<% @poems.each do |poem| %>
  <% if poem.likes.size > 0 %>
    <% j = ls.push(poem.likes.size) %>
    <% p = pls.push(poem) %>
    <% @ls_max_index = j.index(j.max) %>
    <% @most_popular_poem = p[@ls_max_index]%>
  <% end %>
<% end %>

<% if @most_popular_poem != [] %>
  <hr>
  <hr>
  <h4>Most popular poem is..</h4>
  <p><strong>User</strong><br>
  <%= @most_popular_poem.user.name %></p>
  <p><strong>Title</strong><br>
  <%= @most_popular_poem.title %></p>
  <p><strong>Language</strong><br>
  <%= @most_popular_poem.language %></p>
  <p><strong>Views</strong><br>
  <%= @most_popular_poem.impressionist_count(:filter=>:ip_address) %></p>
  <p><strong>Likes</strong><br>
  <%= @most_popular_poem.likes.size %></p>
  <p><strong>Content</strong><br>
  <%= @most_popular_poem.content %></p>
  <hr>
  <hr>
<% end %>
