<%= render 'poems_wall/poems_wall_navigation' %>

<!--Everyone's poems are listed here. clicking on a language will hide all other languages. click on 'all' to clear this and show all languages again-->

<!--Maybe use javascript less/more text button to make the wall more readable if poems get too pig -->

<!-- Add tag cloud -->

<% @poems.each do |poem| %>
	<p>Title: <%= poem.title %></p>
	<p>By: <%= poem.user.name %></p>
        <p>FB Data<%= poem.user.image %></p>
          <p><%= poem.user.first_name %></p>
      
          <p><%= poem.user.last_name %></p>
          <p><%= poem.user.link %></p>

	<p>Language: <%= link_to poem.language, poems_wall_path(:language => poem.language) %></p>
	<p>Content: <%= poem.content %></p>
	<% if poem.tag_list != [] %>
		<p>Tags:  
		<% poem.tag_list.each do |tag| %>
  		<%= link_to tag, poems_wall_path(:tag => tag) %></a>
  		<% end %>
  		</p>
	<% end %>
	<br>
	<br>
<% end %>




