<!--Everyone's poems are listed here. clicking on a language will hide all other languages. click on 'all' to clear this and show all languages again-->
<!--STUFF TO BE DONE -->
<!--Maybe use javascript less/more text button to make the wall more readable if poems get too pig -->

<%= render 'poems_wall/poems_wall_navigation' %>

<%= render 'poems_wall/most_popular_poem' %>

<%= render 'poems_wall/most_viewed_poem' %>

<% @poems.each do |poem| %>
	<p>Title: <%= link_to poem.title, user_poem_path(poem.user, poem) %></p>
	<p>By: <%= link_to poem.user.name, poem.user %></p>
	<p>Language: <%= link_to poem.language, poems_wall_path(:language => poem.language) %></p>
	<p>Content: <%= poem.content %></p>
	<% if poem.tag_list != [] %>
		<p>Tags:  
		<% poem.tag_list.each do |tag| %>
  		<%= link_to tag, poems_wall_path(:tag => tag) %></a>
  		<% end %>
  		</p>
  	<% end %>
  	<% if poem.likes.size > 0 %>
  		<p>Likes: <%= poem.likes.size %></p>
	<% end %>
	<br>
	<br>
<% end %>

<%= render 'poems_wall/tag_cloud' %>