<div class="row-fluid">
	<div class="span3">
		<%= image_tag(@user.picture, :class => 'img-rounded') if @user.picture? %>

		<h3><%= @user.name %></h3>
		<h4><%= @user.location if @user.location? %></h4>
		<p><%= @user.about if @user.about? %></p>

		<p><%=link_to @user.facebook,("http://" + @user.facebook) %></p>
		<p><%=link_to @user.twitter,("http://" + @user.twitter) %></p>
		<p><%=link_to @user.website,("http://" + @user.website) %></p>

	</div>
	<div class="span9">
		<div class="poem">
			<% unless @user.poems.blank? %>
			  <% @user.poems.each do |poem| %>
			    <h1><%= link_to poem.title, poem %></h1>
			    <p>by <%= link_to poem.user.name, user_path(poem.user) %> in <%= link_to poem.language, "#" %>
			    <% if user_signed_in? %>
			      <% if current_user == @user %>
			        &nbsp;<%= link_to 'Edit', edit_user_poem_path(@user, poem), :class => 'btn btn-mini' %>
			      <% end %>
			    <% end %></p>
			    <pre><code data-language="<%= poem.language %>" class="poem"><%= poem.content %></code></pre></a>
			  <% end %>
			<% else %>
				<br><p><%= @user.name %> has not written any poems yet.</p>
			<% end %>
		</div>
	</div>
</div>