<div class="row-fluid">
	<div class="span3">
		<%= image_tag(@user.picture, :class => 'img-rounded') if @user.picture? %>

		<h3><%= @user.name %></h3>
		<h4><%= @user.location if @user.location? %></h4>
		<p><%= @user.about if @user.about? %></p>

<<<<<<< HEAD
<%= link_to "User's poems", user_poems_path(@user), :class => 'btn' %>
<% if current_user.has_role? :admin %>
<%= link_to "BanUnban Button",  banunban_user_path(@user) ,:method => :put %>
<%end %>
=======
		<p><%= link_to "Facebook", @user.facebook, :target => '_blank' if @user.facebook? %></p>
		<p><%= link_to "Twitter", @user.twitter, :target => '_blank' if @user.twitter? %></p>
		<p><%= link_to "Website", @user.website, :target => '_blank' if @user.website? %></p>
	</div>
	<div class="span9">
		<div class="poem">
			<% unless @user.poems.blank? %>
			  <% @user.poems.each do |poem| %>
			    <h1><%= link_to poem.title, poem %></h1>
			    <p>by <%= link_to poem.user.name, user_path(poem.user) %> in <%= link_to poem.language, "#" %>
			    <% if user_signed_in? %>
			      <% if current_user == @user %>
			        &nbsp;<%= link_to 'Edit', edit_user_poem_path(@user, poem), :class => 'btn btn-mini' %>
			      <% end %>
			    <% end %></p>
			    <pre><code data-language="<%= poem.language %>" class="poem"><%= poem.content %></code></pre></a>
			  <% end %>
			<% else %>
				<br><p><%= @user.name %> has not written any poems yet.</p>
			<% end %>
		</div>
	</div>
</div>
>>>>>>> upstream/master
