<% content_for :title, @user.name + " - Codetry - powered by Sydney Dev Camp" %>
<div class="row-fluid">
	<div class="span3">
		<% if !@user.picture.blank? %>
			<%= image_tag(@user.picture, :class => 'img-rounded') %>
		<% elsif !@user.image.blank? %>
			<%= image_tag(@user.profile_photo, :class => 'img-rounded') %>
		<% end %>
		
		<h3><%= @user.name %></h3>
		<h4><%= @user.location if @user.location? %></h4>
		<p><%= @user.about if @user.about? %></p>
		
		<p><%= link_to "Facebook", url_with_protocol(@user.facebook), :target => '_blank' if @user.facebook? %></p>
		<p><%= link_to "Twitter", url_with_protocol(@user.twitter), :target => '_blank' if @user.twitter? %></p>
		<p><%= link_to "Website", url_with_protocol(@user.website), :target => '_blank' if @user.website? %></p>

		<% if user_signed_in? %>
			<% if current_user.has_role? :admin %>
				<% unless @user.ban? %>
					<%= link_to "Ban User",  banunban_user_path(@user), :method => :put, :class => 'btn btn-warning btn-mini' %>
				<% else %>
					<%= link_to "Unban User",  banunban_user_path(@user), :method => :put, :class => 'btn btn-success btn-mini' %>
				<% end %>
			<% end %>
		<% end %>
	</div>
	<div class="span9">
		<div class="poem">
			<% unless @user.poems.blank? %>
			  <% @user.poems.each do |poem| %>
			    <h1><%= link_to poem.title, user_poem_path(@user, poem) %></h1>

			    <p>by <%= link_to poem.user.name, user_path(poem.user) %> in <%= link_to poem.language, poems_wall_path(:language => poem.language) %>

			    <% if user_signed_in? %>
			      <% if current_user == @user %>
			        &nbsp;<%= link_to 'Edit', edit_user_poem_path(@user, poem), :class => 'btn btn-mini' %>
			      <% end %>
			    <% end %></p>
			    <pre><code data-language="<%= poem.language %>" class="poem"><%= poem.content %></code></pre></a>
			  <% end %>
			<% else %>
				<br><p><%= @user.name %> has not written any poems yet.</p>
			<% end %>
		</div>
	</div>
</div>
