<div class="poem">
  
<% @poems.each do |poem| %>
  <h1><%= link_to poem.title, [poem.user, poem] %></h1>
    <p>by <%= link_to poem.user.name, user_path(poem.user) %> in <%= link_to poem.language, poems_wall_path(:language => poem.language) %></p>

    <pre><code data-language="<%= poem.language %>" class="poem"><%= poem.content %></code></pre></a>
    
    <% poem.tag_list.each do |tag| %>
      <%= link_to tag, poems_wall_path(:tag => tag), :class => 'btn' %>
    <% end %>

    <% if user_signed_in? %>
      <% if current_user == poem.user %>
        <div class="pull-right"><%= link_to 'Edit your poem', edit_user_poem_path(poem.user, poem), :class => 'btn btn-small' %></div>
      <% end %>
    <% end %>

<% end %>
</div>

<%= will_paginate @poems, :page_links => false, :class => 'apple_pagination' %>

<% if user_signed_in? %>
  <br><center><%= link_to "<i class='icon-edit icon-large'></i> Write a poem".html_safe, new_user_poem_path(current_user), :class => 'btn btn-success btn-large' %></center>
<% end %>

<div class="container-social">
  <h3>Spread the love</h3>
  <div class="fb-like" data-href="http://www.codetry.org" data-send="false" data-layout="box_count" data-width="450" data-show-faces="true"></div>
  <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.codetry.org" data-via="your_screen_name" data-lang="en" data-related="anywhereTheJavascriptAPI" data-count="vertical">Tweet</a>
  <div class="g-plusone" data-size="tall" data-href="http://www.codetry.org"></div>
</div>

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
<script type="text/javascript">
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>
