<div class="poem container-narrow">
  <% @poems.each do |poem| %>
    <h1><%= link_to poem.title, poem %></h1>
    <p>by <%= link_to poem.user.name, user_path(poem.user) %> in <%= link_to poem.language, "#" %></p>
    <% if user_signed_in? %>
      <% if current_user == @user %>
        <%= link_to 'Edit', edit_user_poem_path(poem.user, @poem), :class => 'btn' %>
      <% end %>
    <% end %>
    
<div class="fb-like" data-href="http://www.codetry.com" data-send="true" data-width="450" data-show-faces="true"></div>

    <pre><code data-language="<%= poem.language %>" class="poem"><%= poem.content %></code></pre></a>
    <%if user_signed_in? %>
        <%if current_user.has_role? :admin %>
            <a href="" onclick="return confirm('You sure you want to ban the user??');" class ="btn btn-warning">Ban User</a>
        <%end%>
    <%end %>
  <% end %>
</div>

<%= will_paginate @poems, :page_links => false, :class => 'apple_pagination' %>



