<% content_for :title, "Codetry - Code poems by people from around the world - powered by Sydney Dev Camp" %>
<br>
  <div class="row-fluid">
    <div class="span4">
      <% @poems.each do |poem| %>

        <h2><%= link_to poem.title, [poem.user, poem] %></h2>
        
        <center>
          <p>by <%= link_to poem.user.name, user_path(poem.user) %></p>
          <p>Language: <%= link_to poem.language, poems_wall_path(:language => poem.language) %></p>
          <p>Tags: 
            <% poem.tag_list.each do |tag| %>
              <%= link_to tag, poems_wall_path(:tag => tag) %>
            <% end %></p>

            <p>
              <%= pluralize(poem.impressionist_count(:filter=>:ip_address), 'view') %> | 
              <%= pluralize(poem.likes.size, 'vote') %> | 
              <%= link_to (user_poem_path(poem.user, poem) + "#comments") do %>
                <%= pluralize(poem.comments.count, 'comment') %>
              <% end %>
            </p>

            <% if user_signed_in? %>
              <% if !current_user.liked?(poem) %>
                <%= link_to 'Vote for this code poem', upvote_user_poem_path(poem.user, poem), :method => :post, :class => 'btn btn-inverse btn-small' %>
              <% else %>
                <%= link_to 'Cancel vote', downvote_user_poem_path(poem.user, poem), :method => :post, :class => 'btn btn-inverse btn-small' %>
              <% end %>
            <% end %>
            <br><br>
          <a href="#myModal" role="button" class="btn btn-inverse btn-small" data-toggle="modal">Share this code poem</a>
        
          <br><br>
        <% if user_signed_in? %>
        <%= link_to new_user_poem_path(current_user), :class => 'btn btn-inverse' do %>
          <i class="icon-pencil"></i> Write a code poem now
        <% end %>
      <% end %>
      <br><br>
      <%= will_paginate @poems, :page_links => false, :class => 'apple_pagination' %>
    </center>
    </div>
    <div class="span8">
      

        <pre class="home-poem"><code data-language="<%= poem.language %>" class="poem"><%= poem.content %></code></pre>
        
      </div>
    </div>

      <!-- Modal -->
      <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h3 id="myModalLabel">Thank you for sharing!</h3>
        </div>

        <div class="modal-body">
          <h3><%= poem.title %></h3>
          <table class="table">
            <tr>
              <th>Facebook</th>
              <td>
                <div class="fb-like" data-href="<%= user_poem_url(poem.user, poem) %>" data-send="true" data-width="450" data-show-faces="true"></div>
                <div class="fb-like" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false"></div></td>
            </tr>
            <tr>
              <th>Twitter</th>
              <td>
                <a href="https://twitter.com/share" class="twitter-share-button" data-url="<%= user_poem_url(poem.user, poem) %>" data-text="Check out this code poem" data-via="SydneyDevCamp" data-hashtags="codepoem">Tweet</a>
              </td>
            </tr>
            <tr>
              <th>Google+</th>
              <td><div class="g-plusone" data-href="<%= user_poem_url(poem.user, poem) %>" data-size="tall" data-annotation="inline" data-width="200"></div></td>
            </tr>
            <tr>
              <th>LinkedIn</th>
              <td><script src="//platform.linkedin.com/in.js" type="text/javascript">lang: en_US</script>
                <script type="IN/Share" data-url="<%= link_to user_poem_url(poem.user, poem) %>" data-counter="right"></script>
              </td>
            </tr>
            <tr>
              <th>Hacker News</th>
              <td><td><a href="http://news.ycombinator.com/submit" class="hn-share-button" data-title="Codetry - Code poems for all" data-url="http://www.codetry.org/">Vote on HN</a></td></td>
            </tr>
            <tr>
              <th>Reddit</th>
              <td>
                <a href="http://www.reddit.com/submit" onclick="window.location = 'http://www.reddit.com/submit?url=' + encodeURIComponent(window.location); return false"> <img src="http://www.reddit.com/static/spreddit7.gif" alt="submit to reddit" border="0" /> </a>
              </td>
            </tr>
          </table>
            
    

        </div>
        <div class="modal-footer">
          <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        </div>
      </div>
      
    <% end %>
   <%= render 'poems/twitter_script' %>
  </div>
</div>
