<h2>Sign in</h2>
<div class="row">
	<div class="span4">
		<br>
		<%= link_to user_omniauth_authorize_path(:facebook), :class => 'sign btn btn-primary btn-large' do %>
			<i class="icon-facebook-sign icon-large"></i> Sign in with Facebook
		<% end %>
		<br><br>
		<%= link_to user_omniauth_authorize_path(:google_oauth2), :class => 'sign btn btn-danger btn-large' do %>
			<i class="icon-google-plus-sign icon-large"></i> Sign in with Google
		<% end %>

		<br><br>
		<%= link_to user_omniauth_authorize_path(:twitter), :class => 'btn btn-primary btn-large sign' do %>
			<i class="icon-twitter-sign icon-large"></i> Sign in with Twitter
		<% end %>

	</div>
	<div class="span2">
		<br><br><br>
		<h2>OR</h2>
	</div>
	<div class="span6">
		<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => 'form-vertical' }) do |f| %>
		  <%= f.input :email, :autofocus => true %>
		  <%= f.input :password %>
		  <%= f.input :remember_me, :as => :boolean if devise_mapping.rememberable? %>
		  <%= f.button :submit, "Sign in", :class => 'btn-success' %>
		<% end %>
<%= render "devise/shared/links" %>
</div>
</div>
