
<div class="footer row-fluid">
	<div class="span2"><p>&copy; Codetry 2013</p></div>
	<div class="span5">
		<div class="pull-right addthis_toolbox addthis_default_style" style ="height:20px; vertical-align:middle; padding:5px;">
			<a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
			<a class="addthis_button_tweet"></a>
			<script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
			<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-518afea87e83ac7c"></script>
		</div>
    </div>

	<div class="span5">
		<p><%= link_to "Press", press_path %> &middot;
			<%= link_to "FAQ", faq_path %> &middot;
			<%= link_to "Privacy", privacy_policy_path %> &middot;
			<%= link_to "Usage", usage_policy_path %> &middot;
			<%= link_to "Contributors", contributors_path %> &middot;
			<%= link_to "Contact", contact_path %></p>
	</div>
</div>