

<div class="footer">
	
	<div class="pull-right">
		<p>
			&copy; Codetry 2013 &middot;
			<%= link_to "Press", press_path %> &middot;
			<%= link_to "Privacy", privacy_policy_path %> &middot;
			<%= link_to "Usage", usage_policy_path %> &middot;
			<%= link_to "Contributors", contributors_path %> &middot;
			<%= link_to "Contact", contact_path %></p>
	</div>
	
</div>
