
<div class="footer">
	<div class="pull-left" >
        &copy; Codetry 2013
  <div class="addthis_toolbox addthis_default_style " style ="padding:5px;">

<a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>

<a class="addthis_button_tweet"></a>

<script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>

<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-518afea87e83ac7c"></script>

<!-- AddThis Button END -->
    </div>  
    </div> 
	<div class="pull-right">
        <!-- AddThis Button BEGIN -->


		<p><%= link_to "Press", press_path %> &middot;
			<%= link_to "FAQ", faq_path %> &middot;
			<%= link_to "Privacy", privacy_policy_path %> &middot;
			<%= link_to "Usage", usage_policy_path %> &middot;
			<%= link_to "Contributors", contributors_path %> &middot;
			<%= link_to "Contact", contact_path %></p>
	</div>
</div>