<div class="navbar">
  <div class="navbar-inner">
    <div class="container">

      <%= link_to "< codetry >", root_path, :class => 'brand' %>
      <ul class="nav pull-right">
        <% if user_signed_in? %>
          <li>
            <%= link_to new_user_poem_path(current_user), :alt => "write new poem", :title => "write new code poem", :data => { :toggle => 'tooltip', :trigger => 'focus' }, :id => 'tooltip' do %>
              <i class="icon-pencil icon-large"></i>
            <% end %>
          </li>
          <% else %>
            <li>
              <%= link_to new_user_session_path, :alt => "write new poem", :title => "write new code poem", :data => { :toggle => 'tooltip', :trigger => 'focus' }, :id => 'tooltip' do %>
                <i class="icon-pencil icon-large"></i>
              <% end %>
            </li>
          
        
        <% end %>
        <li><%= link_to "Explore", poems_wall_path %></li>
        <% if user_signed_in? %>

        <li class="dropdown">
            
              <a href="#" data-toggle="dropdown" class="dropdown-toggle"><%= current_user.name %><b class="caret"></b></a>
              <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                <li><%= link_to 'My profile', user_path(current_user) %></li>
                <li><%= link_to 'My code poems', user_poems_path(current_user) %></li>
                <li><%= link_to 'Edit account', edit_user_registration_path, :alt => "edit profile", :title => "edit profile"  %></li>
                <% if current_user.has_role? :admin %>
                  <li><%= link_to 'Admin', admin_path, :alt => "admin settings", :title => "admin settings" %></li>
                <% end %>
                <li><%= link_to destroy_user_session_path, :method=>'delete', :alt => "logout", :title => "logout", :data => { :toggle => 'tooltip' }, :id => 'write-poem' do  %>
                  Sign out <i class="icon-signout icon-large"></i>
                  <% end %>
                </li>
              </ul>
            
          </li>
          
         <% else %>
          <li><%= link_to 'Login', new_user_session_path %></li>
          <li><%= link_to 'Sign up', new_user_registration_path %></li>
        <% end %>
      </ul>      
    </div>
  </div>
</div>