<div class="navbar navbar-fixed-top">
  <nav class="navbar-inner">
    <div class="container">

      <%= link_to "< codetry >", root_path, :class => 'brand' %>
      <ul class="nav pull-right">

        <% if user_signed_in? %>
          <li><%= link_to current_user.name, current_user %></li>
          <li><%= link_to '<i class="icon-cog icon-large"></i>'.html_safe, edit_user_registration_path %></li>

          <% if current_user.has_role? :admin %>
            <li><%= link_to '<i class="icon-cogs icon-large"></i>'.html_safe, admin_path %></li>
          <% end %>

          <li><%= link_to '<i class="icon-signout icon-large"></i>'.html_safe, destroy_user_session_path, :method=>'delete' %></li>
        
        <% else %>
          <li><%= link_to 'Login', new_user_session_path %></li>
          <li><%= link_to 'Sign up', new_user_registration_path %></li>
          <%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %>

        <% end %>
      </ul>
      
    </div>
  </nav>
</div>