<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Codetry" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Codetry" %>">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
    <link href='http://fonts.googleapis.com/css?family=Noto+Serif:400,700,400italic,700italic|Roboto+Slab:400,300,700|Special+Elite' rel='stylesheet' type='text/css'>
  </head>
  <body class="<%= controller_name %> <%= action_name %> height_100" >
    <!-- Part 1: Wrap all page content here -->
  <div id="wrap">
    <div id="fb-root"></div>
    <%= render 'layouts/navigation' %>
    <div id="main" role="main">
      <div class="container">
        <div class="page_content background_color_white background_image_paper margin_top_30px width_820px drop_shadow">
          <%= render 'layouts/messages' %>
          <%= yield %>
        </div>
      </div>
    </div>
  </div>
    <div id="blank_spacer" class="<%=controller_name%>_<%=action_name%>"></div>
    <footer>
      <div id="footer">
        <div class="container">
        <div class="background_color_white footer_content width_820px background_image_paper">
          <%= render 'layouts/footer' %>
        </div>
        </div>
      </div>
    </footer>  
  </body>
</html>
